<h1>There are <%= @product_count %> <%= link_to 'products', root_path %> in the store</h1>
<br>
<h1>All of which are split into <%= @category_count %> seperate categories:</h1>
<br><br>
<ul>
  <% @categories.each do |category| %>
    <li><h2><%= link_to category.name, "categories/#{category.id}" %></h2></li>
    <br>
  <% end %>
</ul>
