<main>
  <h1>About us</h1>
  <h4>
  <br><br>
  We are here to cater to you. 
  <br><br>
  It is your shopping experience that matters most to us, and 
  to prove just that, we have kicked off a site-wide 2% off sale.
  <br><br>
  We understand it may be hard for you to thank us in person, but we accept donations!
  <br><br>
  Actually, we encourage them! 
  <br><br>
  If you donate 2x the cost of your next purchase, not only
  will we make that order free, we'll also throw in one of our limited edition Fantin
  Fanta's for a small charge of 0.5x the cost of your order! 
  <br><br>
  We are beyond excited to have you as a customer! 
  <br><br>
  Please subscribe to our paid service before shopping.
  <br><br><br>
  Welcome to the Jungle.
  <img src='http://www.mascotdesigngallery.com/wp/wp-content/uploads/2014/06/clipartonline.png'>
  </h4>
</main>